streamlit
openai
openpyxl
textract
PyPDF2
toml
langchain==0.2.3
langchain-core==0.2.5
langchain-text-splitters==0.2.1
pdfplumber
docx2txt
tiktoken
faiss-gpu
pypdf
langchain-community
langchain-openai
