streamlit>=1.37.0
openai>=1.6.1
langchain>=0.2.0
langchain-core>=0.2.0
langchain-text-splitters>=0.2.0
langchain-openai>=0.1.0
langchain-community>=0.2.0
tiktoken>=0.5.2
pymupdf4llm>=0.0.17
docx2txt==0.8
faiss-cpu>=1.7.4
crewai>=0.30.0
crewai-tools>=0.2.0
python-dotenv>=1.0.0
#pysqlite3-binary==0.5.3